Version 2.1.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Cuando_se_crea_un_archivo_(solo_propiedades)":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewFileItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ctplc.sharepoint.com/sites/FileSystemDev'))}/tables/@{encodeURIComponent(encodeURIComponent('e45c0ba6-dd64-414e-b898-8ce92e8e8eb3'))}/onnewfileitems","authentication":"@parameters('$authentication')"}}},"actions":{"Condición_Es_Carpeta":{"actions":{"Repetir_hasta":{"actions":{"HTTP_SharePoint_Inicial":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"method":"GET","uri":"_api/web/getfilebyserverrelativeurl('/sites/FileSystemDev/@{triggerBody()?['{Path}']}@{triggerBody()?['{FilenameWithExtension}']}')","headers":{"Content-Type":"application/json;odata=verbose","Accept":"application/json"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ctplc.sharepoint.com/sites/FileSystemDev'))}/httprequest","authentication":"@parameters('$authentication')"}},"Establecer_variable_Existe_Archivo":{"runAfter":{"Análisis_JSON_Sharepoint":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ExisteArchivo","value":"@equals(body('Análisis_JSON_Sharepoint')?['Exists'],true)"}},"Análisis_JSON_Sharepoint":{"runAfter":{"HTTP_SharePoint_Inicial":["Succeeded","Failed"]},"type":"ParseJson","inputs":{"content":"@body('HTTP_SharePoint_Inicial')","schema":{"type":"object","properties":{"Exists":{"type":"boolean"}}}}},"Condición_Existe_Archivo":{"actions":{"Establecer_variable":{"runAfter":{"JSON_(Ver_si_el_archivo_esta_bloqueado)":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Desbloqueo","value":"@equals(body('JSON_(Ver_si_el_archivo_esta_bloqueado)')?['odata.null'],true)"}},"Condición_2":{"actions":{"Retraso":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}}},"runAfter":{"Establecer_variable":["Succeeded"]},"expression":{"equals":["@variables('Desbloqueo')",false]},"type":"If"},"_HTTP_a_SharePoint_(Ver_si_el_archivo_esta_bloqueado)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"method":"GET","uri":"_api/web/getfilebyserverrelativeurl('/sites/FileSystemDev/@{triggerBody()?['{Path}']}@{triggerBody()?['{FilenameWithExtension}']}')/lockedByUser","headers":{"Content-Type":"application/json;odata=verbose","Accept":"application/json"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ctplc.sharepoint.com/sites/FileSystemDev'))}/httprequest","authentication":"@parameters('$authentication')"}},"JSON_(Ver_si_el_archivo_esta_bloqueado)":{"runAfter":{"_HTTP_a_SharePoint_(Ver_si_el_archivo_esta_bloqueado)":["Succeeded","Failed"]},"type":"ParseJson","inputs":{"content":"@body('_HTTP_a_SharePoint_(Ver_si_el_archivo_esta_bloqueado)')","schema":{"type":"object","properties":{"odata.null":{"type":"boolean"},"status":{"type":"integer"}}}}}},"runAfter":{"Establecer_variable_Existe_Archivo":["Succeeded"]},"else":{"actions":{"Establecer_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Desbloqueo","value":true}}}},"expression":{"equals":["@variables('ExisteArchivo')",true]},"type":"If"}},"runAfter":{},"expression":"@not(equals(variables('Desbloqueo'), false))","limit":{"count":1,"timeout":"PT24H"},"type":"Until"},"Condición_Validación_Existe_Archivo":{"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://sistemadearchivoscta.com/api/get-name-file","headers":{"Content-Type":"application/json; charset=utf-8","Accept":"application/json; charset=utf-8"},"body":{"path-file":"@{triggerBody()?['{Path}']}@{triggerBody()?['{FilenameWithExtension}']}","type-document":3}}},"Condición":{"actions":{"Análisis_del_archivo_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"fullPath":{"type":"string"},"namefile":{"type":"string"},"path":{"type":"string"}}}}}}},"Enviar_una_solicitud_HTTP_a_SharePoint":{"runAfter":{"Análisis_del_archivo_JSON":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"method":"POST","uri":"_api/web/getfilebyserverrelativeurl('/sites/FileSystemDev/@{triggerBody()?['{Path}']}@{triggerBody()?['{FilenameWithExtension}']}')/moveto(newurl='/sites/FileSystemDev/@{body('Análisis_del_archivo_JSON')?['data']?['fullPath']}',flags=1)","headers":{"Content-Type":"application/json;odata=verbose","Accept":"application/json"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ctplc.sharepoint.com/sites/FileSystemDev'))}/httprequest","authentication":"@parameters('$authentication')"}},"Análisis_del_archivo_JSON_Mover_Archivo":{"runAfter":{"Enviar_una_solicitud_HTTP_a_SharePoint":["Succeeded","Failed"]},"type":"ParseJson","inputs":{"content":"@body('Enviar_una_solicitud_HTTP_a_SharePoint')","schema":{"type":"object","properties":{"odata.null":{"type":"boolean"},"status":{"type":"integer"}}}}},"Condición_Mover_Archivo":{"actions":{"HTTP_Guardado_Final":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://sistemadearchivoscta.com/api/save-file","headers":{"Content-Type":"application/json; charset=utf-8","Accept":"application/json; charset=utf-8"},"body":{"path-file":"@{body('Análisis_del_archivo_JSON')?['data']?['fullPath']}","type-document":3,"id":"@{triggerBody()?['ID']}"}}},"Condición_de_Guardado_Final":{"actions":{},"runAfter":{"HTTP_Guardado_Final":["Succeeded","Failed"]},"else":{"actions":{"Enviar_una_solicitud_HTTP_a_SharePoint_(Por_Error)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"post","body":{"method":"POST","uri":"_api/web/getfilebyserverrelativeurl('/sites/FileSystemDev/@{body('Análisis_del_archivo_JSON')?['data']?['fullPath']}')/moveto(newurl='/sites/FileSystemDev/@{triggerBody()?['{Path}']}@{triggerBody()?['{FilenameWithExtension}']}',flags=1)","headers":{"Content-Type":"application/json;odata=verbose","Accept":"application/json"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://ctplc.sharepoint.com/sites/FileSystemDev'))}/httprequest","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('HTTP_Guardado_Final')['statusCode']",200]},"type":"If"}},"runAfter":{"Establecer_variable_Mover_Archivo":["Succeeded"]},"expression":{"equals":["@variables('MoverArchivo')",true]},"type":"If"},"Establecer_variable_Mover_Archivo":{"runAfter":{"Análisis_del_archivo_JSON_Mover_Archivo":["Succeeded"]},"type":"SetVariable","inputs":{"name":"MoverArchivo","value":"@equals(body('Análisis_del_archivo_JSON_Mover_Archivo')?['odata.null'],true)"}}},"runAfter":{"HTTP":["Succeeded"]},"expression":{"equals":["@outputs('HTTP')['statusCode']",200]},"type":"If"}},"runAfter":{"Repetir_hasta":["Succeeded"]},"expression":{"equals":["@variables('ExisteArchivo')",true]},"type":"If"}},"runAfter":{"Variable_Mover__Archivo":["Succeeded"]},"expression":{"equals":["@triggerBody()?['{IsFolder}']",false]},"type":"If"},"Variable_Desbloquear_Flujo":{"runAfter":{"Retraso_Inicial":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Desbloqueo","type":"Boolean","value":false}]}},"Variable_Existe_Archivo":{"runAfter":{"Variable_Desbloquear_Flujo":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExisteArchivo","type":"Boolean","value":true}]}},"Retraso_Inicial":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Variable_Mover__Archivo":{"runAfter":{"Variable_Existe_Archivo":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"MoverArchivo","type":"Boolean","value":true}]}}},"outputs":{}},"parameters":{"$connections":{"value":{"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"}}}},"runtimeConfiguration":{"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('sharepointonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}}]}